<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="jint" version="2.10.3" targetFramework="net452" />
  <package id="Knyaz.Optimus" version="2.2.3" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net452" />
</packages>